version: '3.0'
services:
  namenode1:
    build: .
    image: hongchhe/hadoop
    container_name: namenode1
    cap_add:
      - IPC_LOCK
    volumes:
      - ./myvol:/myvol
    hostname: namenode1
    external_links:
      - datanode2
      - datanode1:datanode1
    environment:
      - HDFS_HOST=namenode1
      - SLAVE_LIST=datanode1 \ndatanode2
      - HDFS_TYPE=namenode
      - YARN_TYPE=none
    ports:
      - 50070:50070 # name node port
      - 9000:9000
      #- 50010:50010
      #- 50020:50020
      #- 50075:50075
      #- 8020:8020
      #- 8088:8088   # resource manager webapp port
      #- 19888:19888 # mapreduce job history webapp server
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:50070"]
      interval: 1m30s
      timeout: 10s
      retries: 3
    networks:
      - net_hadoop

  datanode1:
    build: .
    image: hongchhe/hadoop
    container_name: datanode1
    cap_add:
      - IPC_LOCK
    volumes:
      - ./myvol:/myvol
    hostname: datanode1
    external_links:
      - namenode1
      - datanode2:datanode2
    environment:
      - HDFS_HOST=namenode1
      - SLAVE_LIST=datanode1 \ndatanode2
      - HDFS_TYPE=datanode
      - YARN_TYPE=none
    ports:
      - 50010
      - 50020
      - 50070 # name node port
      - 50075
      - 9000
      - 8020
      - 8088  # resource manager webapp port
      - 19888 # mapreduce job history webapp server
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:50070"]
      interval: 1m30s
      timeout: 10s
      retries: 3
    networks:
      - net_hadoop

  datanode2:
    build: .
    image: hongchhe/hadoop
    container_name: datanode2
    cap_add:
      - IPC_LOCK
    volumes:
      - ./myvol:/myvol
    hostname: datanode2
    external_links:
      - namenode1
      - datanode1:datanode1
    environment:
      - HDFS_HOST=namenode1
      - SLAVE_LIST=datanode1 \ndatanode2
      - HDFS_TYPE=datanode
      - YARN_TYPE=none
    ports:
      - 50010
      - 50020
      - 50070 # name node port
      - 50075
      - 9000
      - 8020
      - 8088  # resource manager webapp port
      - 19888 # mapreduce job history webapp server
    networks:
      - net_hadoop

#  jl1:
#    build: .
#    image: hongchhe/hadoop
#    container_name: jl1
#    cap_add:
#      - IPC_LOCK
#    volumes:
#      - ./myvol:/myvol
#    hostname: jl1
#    environment:
#      - HDFS_HOST=namenode1
#      - SLAVE_LIST=datanode1 \ndatanode2
#      - HDFS_TYPE=journalnode
#      - YARN_TYPE=none
#    ports:
#      - 50010
#      - 50020
#      - 50075
#      - 8485
#    networks:
#      - net_hadoop
#
#  jl2:
#    build: .
#    image: hongchhe/hadoop
#    container_name: jl2
#    cap_add:
#      - IPC_LOCK
#    volumes:
#      - ./myvol:/myvol
#    hostname: jl2
#    environment:
#      - HDFS_HOST=namenode1
#      - SLAVE_LIST=datanode1 \ndatanode2
#      - HDFS_TYPE=journalnode
#      - YARN_TYPE=none
#    ports:
#      - 50010
#      - 50020
#      - 50075
#      - 8485
#    networks:
#      - net_hadoop
#
#  jl3:
#    build: .
#    image: hongchhe/hadoop
#    container_name: jl3
#    cap_add:
#      - IPC_LOCK
#    volumes:
#      - ./myvol:/myvol
#    hostname: jl3
#    environment:
#      - HDFS_HOST=namenode1
#      - SLAVE_LIST=datanode1 \ndatanode2
#      - HDFS_TYPE=journalnode
#      - YARN_TYPE=none
#    ports:
#      - 50010
#      - 50020
#      - 50075
#      - 8485
#    networks:
#      - net_hadoop

#  backupnode1:
#    build: .
#    image: hongchhe/hadoop
#    container_name: backupnode1
#    cap_add:
#      - IPC_LOCK
#    volumes:
#      - ./myvol:/myvol
#    hostname: backupnode1
#    environment:
#      - HDFS_HOST=namenode1
#      - SLAVE_LIST=datanode1 \ndatanode2
#      - HDFS_TYPE=backup
#      - YARN_TYPE=none
#    ports:
#      - 50010
#      - 50020
#      - 50070 # name node port
#      - 50075
#      - 50100
#      - 50105
#      - 9000
#      - 8020
#      - 8088  # resource manager webapp port
#      - 19888 # mapreduce job history webapp server
#    networks:
#      - net_hadoop
#
#  resourcemanager1:
#    build: .
#    image: hongchhe/hadoop
#    container_name: resourcemanager1
#    cap_add:
#      - IPC_LOCK
#    volumes:
#      - ./myvol:/myvol
#    hostname: resourcemanager1
#    environment:
#      - HDFS_HOST=namenode1
#      - SLAVE_LIST=datanode1 \ndatanode2
#      - HDFS_TYPE=none
#      - YARN_TYPE=resourcemanager
#    ports:
#      - 50010
#      - 50020
#      - 50070 # name node port
#      - 50075
#      - 9000
#      - 8020
#      - 8088:8088   # resource manager webapp port
#      - 19888:19888 # mapreduce job history webapp server
#    networks:
#      - net_hadoop
#
#  nodemanager1:
#    build: .
#    image: hongchhe/hadoop
#    container_name: nodemanager1
#    cap_add:
#      - IPC_LOCK
#    volumes:
#      - ./myvol:/myvol
#    hostname: nodemanager1
#    environment:
#      - HDFS_HOST=namenode1
#      - SLAVE_LIST=datanode1 \ndatanode2
#      - HDFS_TYPE=none
#      - YARN_TYPE=nodemanager
#    ports:
#      - 50010
#      - 50020
#      - 50070 # name node port
#      - 50075
#      - 9000
#      - 8020
#      - 8088  # resource manager webapp port
#      - 19888 # mapreduce job history webapp server
#    networks:
#      - net_hadoop
#      
networks:
  net_hadoop:
    driver: bridge
